# Ignore temporary/duplicate files that contain the @!!@ marker
*@!!@*

# macOS system files
.DS_Store

# Common extras (optional)
#*~
#*.tmp
Experts/Advisors/moneymaker.mq5
Include/Bot/Chart/
Include/Bot/Infra/
Include/Bot/Conditions/Impulse/